* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Inter;
  font-size: 16;
}
.flex {
  display: flex;
}


body {
  background-color: #1a0b2e;
}
header{
  position: relative;
}
/* Nav-Bar Started */
.Nav-Bar {
  padding: 15px 200px;
  background-color: #1a0b2e;
  justify-content: space-evenly;
  align-items: center;
}
.Nav-List {
  list-style: none;
  gap: 40px;
  align-items: center;
}
.Nav-List li a {
  text-decoration: none;
}
.Title {
  font-size: 26px;
}
.Wave {
  background: #f7e93f;
  background: linear-gradient(
    9deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.Subscribe-Button {
  justify-content: center;
  align-items: center;
  background: #f7e93f;
  background: linear-gradient(
    9deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  border-radius: 25px;
  border: none;
  padding: 12px 16px;
  font-weight: 600;
}
.Menu-Button {
  display: none;
}
/* Nav-Bar Ended */
/* Hero Section Started */
.Hero-Section{
    height: 760px; 
    width: 100%;
    max-width: 1920px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(Resources/hero-bg.png);
    background-size: cover;
    object-fit: contain;
    text-align: center;
    background-repeat: no-repeat;
    gap: 20px;
    /* position: relative; */
}
.Circle-Container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative; 
    
}
.New{
    position: absolute;
    top: 20px;
    right: 30px;
    align-self: flex-end;
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 0 0 14px #00FF88;
    background-color: #00FF88;
    color: #1a0b2e;
}
.Mic{
    width: 100%;
    max-width: 118px;
    position: absolute;
}
.Title-Holder{
   flex-direction: column;
   gap: 10px;
}
.Title-Holder h1{
    font-size: 3.8rem;
}
.Title-Holder p{
    text-align: justify;
    font-weight: 300;
}
.Title-Button-Container{
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}
.Button-Holder{
    gap: 12px;
}
.Sportify{
    border-radius: 25px;
    background: linear-gradient(
    9deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  border: none;
  padding: 10px 26px;
  align-items: center;
  gap: 5px;
}
.Message{
    border-radius: 25px;
    border: 1px solid #00FF88;
    background-color: transparent;
    padding:10px 24px;
    color: #00FF88;
    align-items: center;
    gap: 5px;
}


/* About Section started */

.Text-Container h1{
  font-size: 3rem;
}
.Text-Container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 200px ;
  gap: 20px;
}
.P1{
  max-width: 700px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
  font-weight: 300;
}
.P2{
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}
hr{

  border: none;
  background-color: white;
  margin: 50px 200px ;
  height: 1px;  
  align-self: stretch;
  
}
.Number-Holder{
     justify-content: space-between;
      padding: 50px 200px ; 
     
}
.Card{
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Count{
    font-size: 3rem ;
    font-weight: 900;
    color: #00FF88;
}
.Count-Title{
  font-weight: 200;
  letter-spacing: 1px;
}
/* About Section Done */

@media screen and (max-width:576px){
  .margin {
  margin: 0 20px;
  padding: 0px 0;
}
/* Nav-Bar started */
  .Nav-Bar {
    padding: 12px 20px;
    background-color: #1a0b2e;
    justify-content: space-between;
    align-items: center;
  }
  .Nav-List {
    display: none;
    list-style: none;
    gap: 40px;
    align-items: center;
  }
  .Title {
    font-size: 18px;
  }

  .Subscribe-Button {
    display: none;
  }
  .Menu-Button{
    display: block;
  }
 
 /* Nav-bar Ended */
  /* Hero Section  */
 .Hero-Section{
    height: auto;
    max-width: 576px;
    background-position:top center ; 
    background-size: 100% 100%;
    gap: 0px; 
}  
.Circle-Container{
    padding-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    
}
.Circle{
  justify-self: flex-end;
  width: 200px;
}
.New{
    top: 54px;
    right: 10px;
}
.Mic{
    max-width: 80px;
}
.Title-Button-Container{
    margin-top: 0;
    padding: 13px;
}
.Title-Holder h1{
    font-size: 3rem;
}
.Title-Holder p{
  max-width: 400px;
  text-align: center;
}
/* Hero Section Done */
/* About Section started */
.Button-Holder{
  margin-top: 20px;
}
.About{
  padding: 120px 0;
}
.Text-Container{
  padding: 20px 0;
}
.Text-Container h1{
  font-size: 2rem;
}

.Number-Holder{
 display: grid;
 grid-template-columns:repeat(2,2fr);
 padding: 20px 0;
 gap: 20px;
}
.Count{
  font-size: 2.3rem;
}
.Count-Title{
  letter-spacing: 0;
  font-size: 14px;
}
.P1{
  text-align: center;
  line-height: 28px ;
  letter-spacing: 0;
}
.P2{
  letter-spacing: 0;
  line-height: 28px ;
}
hr{
  margin: 20px 20px;
}
/* About Section Done */
}
